# =====================================================================
# 1. TIMESCALEDB / SENSOR-DATENBANK
# (Genutzt von Python-Skript, Redpanda Connect, dbt & Jupyter)
# =====================================================================
DATABASE_URL="postgresql://admin:<PW>@<DockerContainerIP>:5432/NameoftheDB"
TIMESCALE_USER=admin
TIMESCALE_PASSWORD=PW
TIMESCALE_DB=NameoftheDB

# =====================================================================
# 2. AIRFLOW META-DATENBANK & ADMIN ACCESS
# (Genutzt von deiner Airflow docker-compose.yml)
# =====================================================================
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=PW
AIRFLOW_DB_NAME=airflow

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=PW

# =====================================================================
# 3. GRAFANA & JUPYTER LAB
# (Genutzt von deiner Data-Fabric docker-compose.yml)
# =====================================================================
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=PW
JUPYTER_TOKEN=JupyterToken

# =====================================================================
# 4. MODELL-PARAMETER (Open-Meteo Wetter-API)
# (Genutzt von room_climate_forecaster.py)
# =====================================================================
LATITUDE=XX.XXXX
LONGITUDE=XX.XXXX
WEATHER_PAST_DAYS=90